<html xmlns:th="http://www.thymeleaf.org">

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel" th:fragment="left-">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href=""><img src="" alt="Logo"></a>
                <h3 class="navbar-brand" href="">SMK CYBER</h3>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/admin}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <!--<h3 class="menu-title">Input Form</h3>&lt;!&ndash; /.menu-title &ndash;&gt;-->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-save"></i>Input Form</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-user"></i><a href="ui-buttons.html">Siswa</a></li>
                            <li><i class="fa fa-book"></i><a href="ui-badges.html">Buku</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tabel</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="tables-basic.html">Tabel Siswa</a></li>
                            <li><i class="fa fa-table"></i><a href="tables-data.html">Tabel Buku</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Peminjaman</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Peminjaman</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Pengembalian</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

</html>
