<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head th:replace="fragments/header :: common_header(~{::title})">
    <title>Perpustakaan App | Home</title>
</head>

<body>

<div th:replace="fragments/left-panel :: #left-panel"/>

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <div th:replace="fragments/right-panel-header :: #header" />

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="col-sm-12" id="siswa-msg">
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="container">

            <button class="btn btn-success"><span class="fa fa-download"></span> Import</button>
            <button class="btn btn-info"><span class="fa fa-upload"></span> Export</button>

            <input type="text" id="siswa-id" hidden="hidden">
            <div class="form-group" id="siswa-nama">
                <label>Nama: </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group" id="siswa-kelas">
                <label>Kela: </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group" id="siswa-nomortelp">
                <label>Nomor Telepon: </label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group" id="siswa-alamat">
                <label>Alamat: </label>
                <textarea class="form-control"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" id="siswa-submit">

        </div>

    </div> <!-- .content -->
</div><!-- /#right-panel -->

<!-- Right Panel -->

<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


<script th:src="@{/vendors/chart.js/dist/Chart.bundle.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/widgets.js}"></script>
<script th:src="@{/vendors/jqvmap/dist/jquery.vmap.min.js}"></script>
<script th:src="@{/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
<script th:src="@{/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
<script>
    (function($) {
        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>

</body>

</html>
